<!-- <router-outlet></router-outlet> -->
<h1>---データバインディング---</h1>
<p>{{ title }}</p>

<br />

<h3>---カウントアップ---</h3>
<p>カウント：{{ count }}</p>
<button (click)='countUp()'>たす</button>

<br />

<h3>---双方向データバインディング---</h3>
<input type='text' [(ngModel)]='name'>
<p>テキスト：{{ name }}</p>

<p>算出プロパティ：{{ nameText }}</p>

<br />

<h3>---コンポーネント間のやりとり---</h3>
<app-child [child]='parent' (itemChild)="addItem($event)"></app-child>
<ul *ngFor="let item of items">
  <li>{{item}}</li>
</ul>

<h3>---プロパティバインディング---</h3>

<button (click)="show = !show">{{show ? 'show' : 'hide'}}</button>
<div *ngIf="!show">
  <img [src]='image' style='width:100%'>
</div>